# API
NODE_ENV=production
PORT=4001
DATABASE_URL=postgresql://cartas:cartas_dev_pwd@postgres:5432/cartas?schema=public
WEB_ORIGIN=*
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_REGION=us-east-2
RESEND_API_KEY=
RESEND_FROM_EMAIL=
NOTIFICATION_EMAILS=aamaro@axzy.dev,maag070208@gmail.com
UPLOAD_MAX_BYTES=10485760
